footer {
  position: relative;
  
}
.footer-img {
  position: absolute;
  width: 1400px;
  height: 640px;
  top: -71px;
  z-index: 0;
}

.container3 {
  width: 1400px;
  height: 460px;
  padding-top: 60px;
  padding-left: 60px;
  position: relative;
  z-index: 1;
}
.container3::before {
  content: url(../img/footer-before.png);
  width: 117px;
  height: 117px;
  position: absolute;
  z-index: 9;
  top: -58.5px;
  left: 643px;
}
.container3-inner {
  display: flex;
  justify-content: start;
}
.more {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 150px;
  list-style-type: none;
}
.more-list ~ .more-list {
  margin-left: 84px;
}
.more-list {
  h3 {
    color: white;
  }
  p {
    color: white;
  }
}